<h1 class="text-center">Welcome to report types</h1>

<div class="container">
    <div style="float: right;"><input type="text" placeholder="User" disabled> <button>Logout</button></div>
    <button [routerLink]="['']">Back to home</button>
    <h2>Report types</h2>
    <div class="m-3">
        <span class="mr-2">Report types</span><input id="searchInput" [(ngModel)]="serachText" type="text"
            placeholder="Search..."><button (click)="searchReport()">Search</button>
    </div>

    <table class="table table-striped">
        <thead class="bg-primary text-white">
            <tr>
                <th>
                    Report Name
                </th>
                <th>
                    Report Description
                </th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let report of reports">
                <tr>
                    <td>
                        <button (click)="openReport(report.reportId)">
                            {{tableConfig.reportId == report.reportId ? '-' : '+'}}
                        </button> {{report.reportName}}
                    </td>
                    <td>
                        {{report.reportDesc}}
                    </td>
                </tr>
                <!-- Show cell button only to open sub cells accorrding to report -->
                <ng-container *ngIf="tableConfig.reportId === report.reportId">

                    <tr style="background-color: #adbdbd;" *ngIf="tableConfig.reportId">
                        <td style="padding-left: 30px;">
                            <button (click)="openSubDatacellsForReport(tableConfig.reportId)">
                                {{tableConfig.showSubDatacellsForReportId == tableConfig.reportId ? '-' : '+'}}
                            </button>Data
                        </td>
                        <td>Data description </td>
                    </tr>
                    <!-- for data sub data -->
                    <ng-container *ngIf="tableConfig.showSubDatacellsForReportId == tableConfig.reportId">

                        <ng-container *ngFor="let oneData of dataForReport">

                            <tr style="background-color: #c1c1c1;" *ngIf="tableConfig.reportId === oneData.reportId">
                                <td style="padding-left: 45px;">
                                    <!-- <button (click)="openDataForReport(oneData.reportId, oneData.id)">
                                        {{tableConfig.dataId == oneData.id ? '-' : '+'}}
                                    </button> -->
                                    {{oneData.label}}
                                </td>
                                <td> {{oneData.reportDesc}}</td>
                            </tr>
                        </ng-container>
                    </ng-container>

                    <!-- Show cell button only to open sub cells accorrding to report -->


                    <tr style="background-color: #adbdbd;" *ngIf="tableConfig.reportId">
                        <td style="padding-left: 30px;">
                            <button (click)="openCellsForReport(tableConfig.reportId)">
                                {{tableConfig.showSubcellsForReportId == tableConfig.reportId ? '-' : '+'}}
                            </button>Cell
                        </td>
                        <td>Cell description</td>
                    </tr>
                    <!-- for cell sub data -->
                    <ng-container *ngIf="tableConfig.showSubcellsForReportId == tableConfig.reportId">
                        <ng-container *ngFor="let oneCell of cellForReport">

                            <tr style="background-color: #c1c1c1" *ngIf="tableConfig.reportId === oneCell.reportId">
                                <td style="padding-left: 45px;;">
                                    <button (click)="openSubCellsForReport(oneCell.reportId, oneCell.cellId)">
                                        {{tableConfig.cellId == oneCell.cellId ? '-' : '+'}}
                                    </button> {{oneCell.label}}
                                </td>
                                <td>{{oneCell.cellDescription}}</td>
                            </tr>
                            <!-- for sub cells agg, condn -->
                            <ng-container
                                *ngIf="tableConfig.reportId === oneCell.reportId && tableConfig.cellId === oneCell.cellId">
                                <ng-container *ngFor="let subCell of cellData; let ind = index;">

                                    <tr style="background-color: #a9a0a0;"
                                        *ngIf="tableConfig.cellId === subCell.cellId && tableConfig.reportId === subCell.reportId">
                                        <td style="padding-left: 60px;">
                                            <button
                                                (click)="openSubCellDataForReport(subCell.reportId, subCell.subCellId, subCell.cellId)">
                                                {{tableConfig.subCellId == subCell.subCellId ? '-' : '+'}}
                                            </button> {{subCell.subCellId}}
                                        </td>
                                        <td>{{subCell.value}}</td>
                                    </tr>
                                    <!-- aggrigators data -->
                                    <ng-container *ngFor="let agg of aggregators">
                                        <tr
                                            *ngIf="tableConfig.reportId === agg.reportId && tableConfig.reportId === subCell.reportId && subCell.cellId === agg.cellId && agg.subCellId === subCell.subCellId && agg.subCellId === tableConfig.subCellId  && agg.cellId === tableConfig.cellId">

                                            <td>
                                                {{agg.cell1}} {{agg.cellId}}
                                            </td>
                                            <td>{{agg.cell2}}</td>

                                        </tr>
                                    </ng-container>
                                    <!-- aggrigators data -->
                                    <!-- fire element data -->
                                    <ng-container *ngFor="let agg of fireElementData">

                                        <tr
                                            *ngIf="tableConfig.reportId === agg.reportId && tableConfig.reportId === subCell.reportId && subCell.cellId === agg.cellId && agg.subCellId === subCell.subCellId && agg.subCellId === tableConfig.subCellId && agg.cellId === tableConfig.cellId">
                                            <td>
                                                {{agg.cell1}}
                                            </td>
                                            <td>{{agg.cell2}}</td>
                                        </tr>
                                    </ng-container>
                                    <!-- fire element data -->
                                    <!-- metri data -->
                                    <ng-container *ngFor="let agg of metricData">

                                        <tr
                                            *ngIf="tableConfig.reportId === agg.reportId && tableConfig.reportId === subCell.reportId && subCell.cellId === agg.cellId && agg.subCellId === subCell.subCellId && agg.subCellId === tableConfig.subCellId && agg.cellId === tableConfig.cellId">
                                            <td>
                                                {{agg.cell1}}
                                            </td>
                                            <td>{{agg.cell2}}</td>
                                        </tr>
                                    </ng-container>
                                    <!-- metric data -->
                                    <!-- condition data -->
                                    <ng-container *ngFor="let agg of conditionData">

                                        <tr
                                            *ngIf="tableConfig.reportId === agg.reportId && tableConfig.reportId === subCell.reportId && subCell.cellId === agg.cellId && agg.subCellId === subCell.subCellId && agg.subCellId === tableConfig.subCellId && agg.cellId === tableConfig.cellId">
                                            <td>
                                                {{agg.cell1}}
                                            </td>
                                            <td>{{agg.cell2}}</td>
                                        </tr>
                                    </ng-container>
                                    <!-- condition data -->
                                </ng-container>

                            </ng-container>


                        </ng-container>


                    </ng-container>
                </ng-container>

            </ng-container>









        </tbody>
    </table>


</div>