<table>
    <tr *ngFor="let report of reports">
        <td>
            <button (click)="openReport(report.reportId)">
                {{tableConfig.reportId == report.reportId ? '-' : '+'}}
            </button> {{report.reportName}}
        </td>
    </tr>
    <!-- Show cell button only to open sub cells accorrding to report -->
    <ng-container>

        <tr *ngIf="tableConfig.reportId">
            <td>
                <button (click)="openSubDatacellsForReport(tableConfig.reportId)">
                {{tableConfig.showSubDatacellsForReportId == tableConfig.reportId ? '-' : '+'}}
            </button> Open Data
            </td>
        </tr>
    </ng-container>
    <ng-container *ngIf="tableConfig.showSubDatacellsForReportId == tableConfig.reportId">

        <ng-container *ngFor="let oneData of dataForReport">

            <tr *ngIf="tableConfig.reportId === oneData.reportId">
                <td>
                    <button (click)="openDataForReport(oneData.reportId, oneData.id)">
                    {{tableConfig.dataId == oneData.id ? '-' : '+'}}
                </button> {{oneData.label}}
                </td>
            </tr>
        </ng-container>
    </ng-container>
    <!-- Show cell button only to open sub cells accorrding to report -->
    <ng-container>

        <tr *ngIf="tableConfig.reportId">
            <td>
                <button (click)="openCellsForReport(tableConfig.reportId)">
                {{tableConfig.showSubcellsForReportId == tableConfig.reportId ? '-' : '+'}}
            </button> Open Cell
            </td>
        </tr>
    </ng-container>


    <ng-container *ngIf="tableConfig.showSubcellsForReportId == tableConfig.reportId">
        <ng-container *ngFor="let oneCell of cellForReport">

            <tr *ngIf="tableConfig.reportId === oneCell.reportId">
                <td>
                    <button (click)="openSubCellsForReport(oneCell.reportId, oneCell.cellId)">
                {{tableConfig.cellId == oneCell.cellId ? '-' : '+'}}
            </button> {{oneCell.label}}
                </td>
            </tr>
        </ng-container>
        <ng-container *ngFor="let subCell of cellData">

            <tr *ngIf="tableConfig.cellId === subCell.cellId">
                <td>
                    <button (click)="openSubCellDataForReport(subCell.reportId, subCell.subCellId)">
                {{tableConfig.subCellId == subCell.subCellId ? '-' : '+'}}
            </button> {{subCell.subCellId}}
                </td>
            </tr>
        </ng-container>
        <ng-container *ngIf="tableConfig.subCellId === 'aggregator'">

            <tr *ngFor="let agg of aggregators">
                <td>
                    {{agg.cell1}}
                </td>
                <td>{{agg.cell2}}</td>
            </tr>
        </ng-container>
        <ng-container *ngIf="tableConfig.subCellId === 'fireElement'">

            <tr *ngFor="let agg of fireElementData">
                <td>
                    {{agg.cell1}}
                </td>
                <td>{{agg.cell2}}</td>
            </tr>
        </ng-container>

        <ng-container *ngIf="tableConfig.subCellId === 'metric'">

            <tr *ngFor="let agg of metricData">
                <td>
                    {{agg.cell1}}
                </td>
                <td>{{agg.cell2}}</td>
            </tr>
        </ng-container>

        <ng-container *ngIf="tableConfig.subCellId === 'condition'">

            <tr *ngFor="let agg of conditionData">
                <td>
                    {{agg.cell1}}
                </td>
                <td>{{agg.cell2}}</td>
            </tr>
        </ng-container>

    </ng-container>


</table>